@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

h2{
  font-family: 'Muli', sans-serif !important;
}
header{
  background-image: url("../img/dome.png");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
header .col-xs-4{
  background-color: rgba(128, 128, 128, .5);
  margin-top: 10%;
  padding:10px;
  text-align: center;
  color: lightgrey;
}
section{
  height: 600px;
}
section h2{
  padding-left: 30px;
  padding-top: 44px;

}
.trifecta{
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.color{
  background-color: rgba(193, 128, 255, .7);
  height: 600px;
}
h2{
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 50px;
}
.col-xs-8 p{
  margin: 0px;
  padding: 147px 39px;
  font-size: 20px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 300 !important;
  color: white;
}
.col-xs-6:first-child{
  margin: 0px;
  padding: 150px 53px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 300 !important;
  color: white;
  font-size: 20px;
}
.col-xs-6:last-child{
  padding-top: 100px;
}
.trifecta img{
  padding: 89px 32px;
}
.health{
  background-image: url("https://www.unsplash.it/1920/1088/?random");
  background-attachment: fixed;

}
.color2{
  background-color: rgba(128, 128, 128, .7);
  height:600px;
}

.biography{
  background-image: url("https://www.unsplash.it/1920/1088/?image=120");
  background-attachment: fixed;
}
.embed_form label, .paper-form label{
  color: white;
}
.contact p:last-of-type{
  padding-top:10px;
}
.contact ul li{
  display: inline;
}
.contact ul{
  padding: 0;
  padding-top: 10px;
}
.contact ul li:nth-child(n + 2){
  padding-left: 80px;
}
.contact ul li a{
  color: inherit;
}
